footer
  p.footer
    | Made with code and care in Paris, France - ©  
    a(href='https://wildcodeschool.fr/' target='_blank')
      img.bologo(src='/images/lebeaulogodelawcs.png', alt='Le beau logo de la Wild Code School') 
    |  + 
    a(href='https://www.linkedin.com/in/catherine-vassant-7016a546/' target='_blank') Codingk8
    |  & 
    a(href='https://www.linkedin.com/in/j%C3%A9r%C3%A9my-david-93796a14a/' target='_blank') Gregstone
    |  - 2017