footer
  p.footer
    | Proudly made with ❤️ and code in Paris - © 
    a(href='https://wildcodeschool.fr/')
      img.bologo( src='/images/lebeaulogodelawcs.png', alt='Le beau logo de la Wild Code School') 
    |  + Codingk8 & Gregstone - 2017