footer
  p.footer
    | Made with code and care in Paris, France - ©  
    a(href='https://wildcodeschool.fr/' target='_blank')
      img.bologo(src='/images/lebeaulogodelawcs.png', alt='Le beau logo de la Wild Code School') 
    |  + 
    a.lienfoot(href='https://github.com/codingk8' target='_blank') Codingk8
    |  & 
    a.lienfoot(href='https://github.com/gregstone' target='_blank') Gregstone
    |  - 2017