<!-- Les morceaux de code dont j'ai besoin pour les passer en pug -->

<!-- Mettre du strong -->

Wondersushi est un <strong>chatbot conversationnel</strong> élaboré pour Google Home, l'enceinte à commande vocale lancée par Google en 2017.

<!-- Insérer une image, dans un paragraphe ! Mais comment on fait ça en pug ? -->

<p>Voici une photo <img src="images/montagne.jpg" alt="Photo de montagne" title="C'est beau les Alpes quand même !" />
</p>

<!-- Une image avec un lien qui s'ouvre dans une nouvelle fenêtre et les autres attributs qui vont bien -->

<p class="police">Le code est disponible sur GitHub<a href="https://github.com/codingk8/wondersushi" target="_blank"><img src="images/github.png" /></a></p>

Vous souhaitez voir l'image dans sa taille d'origine ? Cliquez dessus !<br />
    <a href="img/montagne.jpg" target="_blank"><img src="img/montagne_mini.jpg" alt="Photo de montagne" title="Cliquez pour agrandir" /></a>
</p>


<!-- Un texte avec un lien qui s'ouvre dans une nouvelle fenêtre et les autres attributs qui vont bien -->

<p>Bonjour. Vous souhaitez visiter <a href="https://openclassrooms.com" target="_blank">OpenClassrooms</a> ?<br />
    C'est un bon site ;o)</p>

<p>Le sujet était proposé par <a href="https://braaxe.com/" target="_blank">l'agence Braaxe</a> pour leur client <a href="https://www.sushishop.fr/fr/" target="_blank">Sushi Shop</a> : créer une application Google Home innovante permettant à Sushi shop de renforcer sa présence de marque digitale vers la cible des "early adopters".</p>

<!-- Le container Boostrap avec les images placées sur la grille, les logos LI et les liens -->

<section class="equipe">
    <p>L'équipe de <a href="http://www.efap.com/" target="_blank">l'EFAP</a> (partie Marketing)</p>
    <div class="container">
        <div class="row efapfilles">
            <div class="col-xs-2 col-xs-offset-4">
                <p><img src="../images/clairemata.png" alt="Photo de Claire Mata EFAP" /></p>
                <p>Claire Mata</p>
                <p><a href="https://www.linkedin.com/in/claire-mata-08801010a/" target="_blank"><img src="img/li.png" alt="Profil LinkedIn de Claire Mata" /></a></p>
            </div>
            <div class="col-xs-2">
                <p><img src="../images/juliettemarchais.png" alt="Photo de Juliette Marchais EFAP" /></p>
                <p>Claire Mata</p>
                <p><a href="https://www.linkedin.com/in/juliette-marchais-23ba009a/" target="_blank"><img src="img/li.png" alt="Profil LinkedIn de Claire Mata" /></a></p>
            </div>
        </div>
        <div class="row efapgarcons">
            <div class="col-xs-2 col-xs-offset-4">
                <p><img src="../images/maximetricoire.png" alt="Photo de Maxime Tricoire EFAP" /></p>
                <p>Maxime Tricoire</p>
                <p><a href="https://www.linkedin.com/in/maxime-tricoire/" target="_blank"><img src="img/li.png" alt="Profil LinkedIn de Claire Mata" /></a></p>
            </div>
            <div class="col-xs-3">
                <p><img src="../images/simonvernhes.png" alt="Photo de Simon Vernhes EFAP" /></p>
                <p>Simon Vernhes</p>
                <p><a href="https://www.linkedin.com/in/simvernhes/" target="_blank"><img src="img/li.png" alt="Profil LinkedIn de Claire Mata" /></a></p>
            </div>
        </div>
    </div>
    <p>L'équipe de la <a href="https://wildcodeschool.fr/" target="_blank">Wild Code School</a> (partie Développement)</p>
    <div class="container">
        <div class="row wcs">
            <div class="col-xs-2 col-xs-offset-4">
                <p><img src="../images/catherinevassant.png" alt="Photo de Catherine Vassant Wild Code School" /></p>
                <p>Claire Mata</p>
                <p><a href="https://www.linkedin.com/in/catherine-vassant-7016a546/" target="_blank"><img src="img/li.png" alt="Profil LinkedIn de Claire Mata" /></a></p>
            </div>
            <div class="col-xs-2">
                <p><img src="../images/jeremydavid.png" alt="Photo de Jérémy David Wild Code School" /></p>
                <p>Claire Mata</p>
                <p><a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-david-93796a14a/" target="_blank"><img src="img/li.png" alt="Profil LinkedIn de Claire Mata" /></a></p>
            </div>
        </div>
    </div>
</section>