extends layout

block content
  section.secsaumon
    p.police L'histoire du projet Wondersushi
  section.secvert
    p Les 12 et 13 décembre 2017, l'EFAP et la Wild Code School ont organisé un hackathon conjoint permettant à leurs élèves respectifs de travailler ensemble.
    p Cette compétition concernait les campus de Bordeaux, Lille, Lyon et Paris, soit xx équipes en tout.
    p Le sujet a été fourni par l'agence Baaxe pour le compte de leur client Sushi Shop.
    p Il s'agissait ...
    p Le projet Wondersushi a gagné cette compétition nationale en proposant une solution conviviale et simple à la problématique posée.
    p Pour être déployé sur ce site, la référence à la marque Sushi Shop a été supprimée.
    br
    p.police L'équipe projet de Wondersushi était composée de six personnes
    p Quatre pour la partie marketing
    p Deux pour la partie technique
    p 
    br
    p.police Pour la partie technique, ce projet utilise les outils suivants.
    p La plateforme DialogueFlow
    p NodeJS pour le backend et le serveur asynchrone
    p Boostrap pour la mise en page géométrique et responsive
    p Heroku pour le webhook et l'hébergement
    p Le code du projet est disponible sur GitHub ici.
    a(href="https://github.com/codingk8/wondersushi")
    br
    p.police Wondersushi à votre service
    p Le projet est associé à l'univers gastronomique des sushis et de la cuisine japonaise mais il pourrait aisément servir pour enrichir l'expérience client dans le cadre de toute commande de nourriture par Google Home.
    p Si vous avez un food store et que vous souhaitez étudier la possibilité d'utiliser Wondersushi pour votre marque, nous serons ravis de vous aider.
    br
    p.police Vous pouvez contacter l'équipe technique sur LinkedIn pour plus d'information ou pour une démo de la version "bavarde". Nous serons ravis de vous répondre !
    br
    a(href="/" class="btn saumon") Retour à l'accueil
  // h1= title
  // p Welcome to #{title}

