/* Ce fichier est le fichier css du projet Wondersushi du Hackathon 3
organisé par la Wild Code School & l'EFAP en partenariat avec l'agence Braaxe 
pour le compte du client Sushi shop
*/

/* Les couleurs de la chartes sont les suivantes.
La couleur principale est un orange saumoné : #FF6B5C
Sa couleur complémentaire principale est un vert : #1DB262
Puis il y a un rouge brique : #B23B2F
Il y a deux couleurs secondaires que je n'utilise pas en fait.
Un orange saumoné plus clair : #FF8275
Un vert plus clair : #54E597
Voir ici : https://color.adobe.com/fr/create/color-wheel/?base=0&rule=Complementary&selected=0&name=Mon%20th%C3%A8me%20Color&mode=rgb&rgbvalues=1,0.4196078431372549,0.3607843137254902,0.7,0.23016720798745272,0.18254901960784317,1,0.5104053891494865,0.4607843137254902,0.11254901960784319,0.7,0.3837228346599445,0.36078431372549025,1,0.6558532847100864&swatchOrder=0,1,2,3,4
*/

/* Les polices de la charte sont les suivantes homemade apple & assistant (regular et 600)
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Ubuntu+Condensed&amp;subset=latin-ext" rel="stylesheet">
font-family: 'Kaushan Script', cursive;
font-family: 'Ubuntu Condensed', sans-serif;
*/

body {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  background-color: white;
  text-align: center;
}

/* Début de la mise en forme du header */
header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  border-radius: 5px;
}

.titre {
  text-align: center;
  font-size: 2.2em;
  color: #ff6b5c;
}

.slogan {
  font-family: 'Kaushan Script';
  color: #b23b2f;
}
/* Fin mise en forme du header */

/* Début de la mise en forme des titres */
h1 {
  font-size: 1em;
  font-family: 'Kaushan Script';
}

h2 {
  font-size: 1em;
  line-height: inherit;
  margin-top: 0px;
}
/* Fin mise en forme des titres */

/* Début de la mise en forme des encadrés pleins */
.secsaumon {
  text-align: center;
  color: white;
  font-size: 1.5em;
  background-color: #ff8275;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.secvert {
  text-align: center;
  color: white;
  font-size: 1.5em;
  background-color: #1db262;
  padding: 50px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.secgris {
  text-align: center;
  color: white;
  font-size: 1.5em;
  background-color: #bbbaba;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 15px;
  margin-bottom: 15px;
}
/* Fin de la mise en forme des encadrés pleins */

/* Début de la mise en forme des encadrés vides */
.secsaumonborder {
  text-align: center;
  color: #ff6b5c;
  font-size: 1.5em;
  border-style: solid;
  border-width: medium;
  border-color: #ff6b5c;
  border-radius: 15px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.secvertborder {
  text-align: center;
  color: #1db262;
  font-size: 1.5em;
  font-family: 'Kaushan Script';
  border-style: solid;
  border-width: medium;
  border-color: #1db262;
  border-radius: 15px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
/* Fin de la mise en forme des encadrés vides */

/* Début de la mise en forme des boutons */
.vert {
  font-size: 1em;
  font-family: 'Kaushan Script';
  color: white;
  background-color: #1db262;
  padding: 15px;
  border-radius: 15px;
  margin-top: 10px;
}

.saumon {
  font-size: 1em;
  font-family: 'Kaushan Script';
  color: white;
  background-color: #ff6b5c;
  padding: 15px;
  border-radius: 15px;
  margin-top: 10px;
}

.brique {
  font-size: 1em;
  font-family: 'Kaushan Script';
  background-color: #b23b2f;
  padding: 15px;
  border-radius: 15px;
  color: white;
  margin-top: 10px;
}

.btn {
  color: white;
  text-decoration: none;
}

.btn:visited {
  color:white;
}

.btn:clicked {
  color: white;
}

.btn:hover {
  color: grey;
}
/* Fin de la mise en forme des boutons */

/* Mise en forme du logo WCS du footer */
.bologo {
  width: 80px;
}

/* Mise en forme du footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23b2f;
  font-family: 'Kaushan Script';
  height: 150px;
  color:white;
  font-size: 1.2em;
  border-radius: 15px;
  margin-left: 14px;
  margin-right: 14px;
}

/* Début de mises en forme diverses de paragraphes */
.police {
  font-family: 'Kaushan Script';
}

.pbrique {
  color: #b23b2f;
}

.pvert {
  color: #1db262;
}

.gagnant {
  font-weight: bold;
}

.souligne {
  text-decoration-line: underline;
}
/* Fin de mises en forme diverses de paragraphes */

/* Début de la mise en forme des liens */
a {
  color: grey;
  text-decoration: underline;
}

a:hover {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
}

a:active {
  color: grey;
}

/* Mise en forme spécifique pour les liens du footer */
a.lienfoot {
  color: white;
  text-decoration: underline;
}

a.lienfoot:hover {
  color: white;
  text-decoration: none;
  
}

a.lienfoot:visited {
  color: white;
}

a.lienfoot:active {
  color: white;
}
/* Fin de la mise en forme des liens */

/* Mise en forme de l'iframe du chatbot */
.iframe {
  width: 550px;
  height: 630px;
}

/* Mise en forme des photos du grid de l'équipe projet */
.photo {
  width: 200px;
}

/* Mise en forme du gif animé de la page 404 */
.gif {
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 15px;
  text-align: center;
}

/* Mettre des media queries */

/* */
/* Small devices */
@media (max-width: 767px) {
  .photo {
    width: 100px;
  }
  .error {
    font-size: 2em;
  }
  .saumon {
    margin-top: 10px;
  }
  .iframe {
    width: 300px;
    height: 380px;
  }
  body {
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 15px;
    text-align: center;
  }
  header {
    font-size: 1.5em;
  }
  .titre {
    font-size: 1.7em;
  }
  .secsaumon {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .secvert {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .secgris {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .secsaumonborder {
    font-size: 1em;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
  }
  .secvertborder {
    font-size: 1em;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
  }
  .gif {
    width: 250px;
    margin-top: 15px;
    margin-bottom: 7px;
  }
  footer {
    font-size: 1em;
    border-radius: 5px;
    padding: 10px;
    height: 100px;
  }
  .bologo {
    width: 50px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .photo {
    width: 175px;
  }
  .error {
    font-size: 2em;
  }
  .saumon {
    margin-top: 10px;
  }
  .iframe {
    width: 350px;
    height: 430px;
  }
  body {
    padding: 0px;
    font-size: 20px;
    text-align: center;
  }
  .secsaumon {
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .secvert {
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .secgris {
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .secsaumonborder {
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .secvertborder {
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .gif {
    width: 550px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  footer {
    font-size: 1em;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
  }
  .bologo {
    width: 65px;
  }
}

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */


/* Réduire la taille de la fenêtre de démo et réduire la taille de la police du footer, peut-être aussi réduire les différents paddings quand la fenêtre est plus petite */